@import "../partials/colors";

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    ul {
        display: flex;
        list-style: none;
        align-items: center;
    }

    li {
        margin: 0.8rem;
    }

    a {
        color: $prymary-color !important;
    }
}